<a href="https://colab.research.google.com/github/evellynliena/Praktikum_Struktur_Data/blob/master/2410506015_Strukdat_Array1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TESTS**

In [ ]:
angka = [10, 20, 30, 40, 50]
print("array dengan list:", angka)

array dengan list: [10, 20, 30, 40, 50]

In [ ]:
import array
angka = array.array('i', [10, 20, 30, 40, 50])
print("array dengan model array:", angka)

array dengan model array: array('i', [10, 20, 30, 40, 50])

In [ ]:
import numpy as np
angka=np.array([10, 20, 30, 40, 50])
print("array dengan numpy:", angka)

array dengan numpy: [10 20 30 40 50]

# Jenis Array

In [ ]:
#1 dimensi
import numpy as np
angka=np.array([1, 2, 3, 4, 5])
print("array satu dimensi:", angka)

array satu dimensi: [1 2 3 4 5]

In [ ]:
#2 dimensi
matriks=np.array([[1, 2], [3, 4], [5, 6]])
print("array dua dimensi:", matriks)

array dua dimensi: [[1 2]
 [3 4]
 [5 6]]

In [ ]:
#multidimensi
array3d=np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])
print("array tiga dimensi:", array3d)

array tiga dimensi: [[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

# Implementasi

In [ ]:
angka = [ ]

In [ ]:
angka = [10, 20, 30, 40, 50]

In [ ]:
print("Elemen pertama:", angka[0])
print("Elemen terakhir:", angka[-1])

Elemen pertama: 10
Elemen terakhir: 50

In [ ]:
angka.append(60)
print("Setelah append:", angka)

Setelah append: [10, 20, 40, 50, 60, 60, 60, 60]

In [ ]:
angka.remove(30)
print("Setelah remove:", angka)

Setelah remove: [10, 20, 40, 50, 60]

In [ ]:
for nilai in angka:
    print(nilai)

10
20
40
50
60

# Operasi dasar

In [ ]:
print("Elemen pertama:", angka[0])

Elemen pertama: 10

In [ ]:
angka = np.append(angka, [60, 70])
print("Setelah append:", angka)

Setelah append: [10 20 40 50 60 60 70]

In [ ]:
angka = (np.delete(angka, 2))
print("Setelah remove:", angka)

Setelah remove: [10 20 50 60 60 70]

In [ ]:
print("jumlah elemen:", len(angka))

jumlah elemen: 6

# **Langkah Praktikum**

In [ ]:
data= []
angka= [10, 20, 30, 40, 50]
print("Isi array angka", angka)

Isi array angka [10, 20, 30, 40, 50]

# Latihan 1

In [ ]:
NPM = [2410506011, 2410506012, 2410506013, 2410506014, 2410506015, 2410506016, 2410506017, 2410506018, 2410506019]
print("array NPM:", NPM)

array NPM: [2410506011, 2410506012, 2410506013, 2410506014, 2410506015, 2410506016, 2410506017, 2410506018, 2410506019]

# Latihan 2

In [ ]:
print("Elemen pertama:", angka[0])
print("Elemen terakhir:", angka[-1])

Elemen pertama: 10
Elemen terakhir: 50

In [ ]:
angka.append(60)
print("Array setelah penambahan elemen:", angka)

angka.insert(2, 25)
print("Array setelah penambahan elemen dalam insert:", angka)

Array setelah penambahan elemen: [10, 20, 25, 30, 40, 50, 60, 60]
Array setelah penambahan elemen dalam insert: [10, 20, 25, 25, 30, 40, 50, 60, 60]

In [ ]:
angka.remove(25)
print("Array setelah menghapus elemen 25:", angka)

angka.pop(2)
print("Array setelah menghapus elemen indeks kedua:", angka)

Array setelah menghapus elemen 25: [10, 20, 30, 40, 50, 60]
Array setelah menghapus elemen indeks kedua: [10, 20, 40, 50, 60]

In [ ]:
angka[0]= 100
print("Array setelah mengubah elemen pertama:", angka)

Array setelah mengubah elemen pertama: [100, 20, 40, 50, 60]

NPM

In [ ]:
angka.insert(2, 15)
print("Array setelah penambahan elemen dalam insert:", angka)

Array setelah penambahan elemen dalam insert: [100, 20, 15, 40, 50, 60]

In [ ]:
angka.pop(0)
print("Array setelah menghapus elemen pertama:", angka)

Array setelah menghapus elemen pertama: [20, 15, 40, 50, 60]

# Latihan 3

In [ ]:
angka= [10, 20, 30, 40]
for nilai in angka:
    print("Nilai:", nilai)

Nilai: 10
Nilai: 20
Nilai: 30
Nilai: 40

In [ ]:
Fakultas= ['Ekonomi', 'Keguruan dan Ilmu Pendidikan', 'Ilmu Sosial dan Ilmu Politik', 'Pertanian', 'Teknik']
for nilai in Fakultas:
    print("Fakultas:", nilai)

Fakultas: Ekonomi
Fakultas: Keguruan dan Ilmu Pendidikan
Fakultas: Ilmu Sosial dan Ilmu Politik
Fakultas: Pertanian
Fakultas: Teknik

# Latihan 4

In [ ]:
angka= [10, 20, 30, 40]
print("Jumlah Total:", sum(angka))
print("Nilai Maksimum:", max(angka))
print("Nilai Minimum:", min(angka))

Jumlah Total: 100
Nilai Maksimum: 40
Nilai Minimum: 10

In [ ]:
hargamie= [3000, 3500, 4000, 4500, 5000]
print("Jumlah Harga:", sum(hargamie))
print("Harga terbesar:", max(hargamie))
print("Harga terkecil:", min(hargamie))

Jumlah Harga: 20000
Harga terbesar: 5000
Harga terkecil: 3000

# Latihan 5

In [ ]:
matriks= [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print("Isi array 2d:")
for baris in matriks:
    print(baris)

Isi array 2d:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
matrikz= [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

print("Isi array 2d:")
for baris in matrikz:
    print(baris)

Isi array 2d:
[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]

# Latihan 6

In [ ]:
matriks= [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print("Isi array 2d:")
for baris in matriks:
    print(baris)

Isi array 2d:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
print("Elemen pada baris 1, kolom 2:", matriks[0][1])
print("Elemen terakhir:", matriks[-1][-1])

Elemen pada baris 1, kolom 2: 2
Elemen terakhir: 9

In [ ]:
matrikz= [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

print("Isi array 2d:")
for baris in matrikz:
    print(baris)

Isi array 2d:
[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]

In [ ]:
print("Elemen pada baris 2, kolom 4:", matrikz[1][3])

Elemen pada baris 2, kolom 4: 8

# Latihan 7

In [ ]:
matriks= [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print("Isi array 2d:")
for baris in matriks:
    print(baris)

Isi array 2d:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
matriks.append([10, 11, 12])
print("Array setelah menambahan matriks baru:", matriks)

matriks[1].append(99)
print("Array setelah menambahan elemen di baris kedua:", matriks)

Array setelah menambahan matriks baru: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
Array setelah menambahan elemen di baris kedua: [[1, 2, 3], [4, 5, 6, 99], [7, 8, 9], [10, 11, 12]]

In [ ]:
matrikz= [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

print("Isi array 2d:")
for baris in matrikz:
    print(baris)

Isi array 2d:
[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]

In [ ]:
matrikz.append([11, 9, 20, 6])
print("Array setelah menambahan matriks baru:", matrikz)

Array setelah menambahan matriks baru: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [11, 9, 20, 6]]

# Latihan 8

In [ ]:
matriks= [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print("Isi array 2d:")
for baris in matriks:
    print(baris)

Isi array 2d:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
matriks[0].remove(2)
print("Array setelah menghapus elemen 2 dari baris pertama:", matriks)

matriks[1].pop(1)
print("Array setelah menghapus elemen indeks kesatu dari baris kedua:", matriks)

Array setelah menghapus elemen 2 dari baris pertama: [[1, 3], [4, 5, 6], [7, 8, 9]]
Array setelah menghapus elemen indeks kesatu dari baris kedua: [[1, 3], [4, 6], [7, 8, 9]]

In [ ]:
matrikz= [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [11, 9, 20, 6]
]
for baris in matrikz:
    print(baris)

[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]
[11, 9, 20, 6]

In [ ]:
matrikz[-1].pop(2)
print("Array setelah menghapus elemen 3 dari baris terakhir:", matrikz)

Array setelah menghapus elemen 3 dari baris terakhir: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [11, 9, 6]]

# Latihan 9

In [ ]:
matriks= [
    [1, 3],
    [4, 6],
    [7, 8, 9]
]

matriks[2][1] = 88
print("Array setelah mengubah elemen baris ketiga, kolom kedua:", matriks)

Array setelah mengubah elemen baris ketiga, kolom kedua: [[1, 3], [4, 6], [7, 88, 9]]

In [ ]:
matrikz= [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [11, 9, 6]
]

matrikz[-1] = [14, 2, 20, 25]
print("Array setelah mengubah elemen baris terakhir:", matrikz)

Array setelah mengubah elemen baris terakhir: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [14, 2, 20, 25]]

# Latihan 10

In [ ]:
belanja= ["Beras", "Gula", "Minyak"]
belanja.append("Teh")
belanja.remove("Gula")
print("Daftar belanja terbaru:", belanja)

Daftar belanja terbaru: ['Beras', 'Minyak', 'Teh']

In [ ]:
belanja= ["Beras", "Ayam", "Minyak", "Ikan", "Tisu"]
belanja.insert(2, "Telur")
belanja.append("Micin")
belanja.remove("Tisu")
print("Daftar belanja terbaru:", belanja)

Daftar belanja terbaru: ['Beras', 'Ayam', 'Telur', 'Minyak', 'Ikan', 'Micin']